
.container {
    width: 450px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 40px;
    border-radius: 10px;
}

.container h1 {
    color: #fff;
    text-align: center;
    font-size: 30px;
}

.input-field {
    position: relative;
    width: 100%;
    margin: 30px auto;
    height: 50px;
}

input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    padding: 20px 25px;
}

input::placeholder {
    color: #fff;
    font-size: 16px;
}

.icon {
    font-size: 18px;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translatey(-50%);
    color: #fff;
}

.recall-forget {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 15px;
}


.recall-forget label {
    display: flex;
    font-size: 14px;
    gap: 20px;
    color: #fff;
}

.recall-forget label input {
    width: auto;
    height: auto;
}


.recall-forget a, .signup-link a {
    color: #fff;
    text-decoration: none;  
}

.recall-forget a:hover, .signup-link a:hover {
    text-decoration: underline;  
}

button {
    width: 100%;
    height: 50px;
    padding: 15px;
    border: none;
    outline: none;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    text-shadow: none;
    font-weight: 700;
}

.signup-link {
    text-align: center;
    margin: 20px 0 10px;
    color: #fff;
    font-size: 14.5px;
}

